.social {
  list-style-type: none;
  text-align: center;

  li {
    display: inline;
  }
  i {
    font-size: 270%;
    margin: 1% 5% 1% 4%;
    color: $text-color;
  }
  i:hover {
    color: $gray-color;
  }
}

footer.second {
  background-color: $gray-color;
  width: 100%;

  p {
    color: $text-color;
    text-align: center;
    padding: 2%;
  }
}
